/*-----------------------
Author:Stephanie Simms
Module 3 Assignment
---------------------*/

body {
    background-color: lightblue;
}

img {
    border-width: 2px; color: red; border-style: dashed;
}

p {
    font-weight: bold;
}