/*----------------------------------
    Author:Stephanie Simms
    One Page Website Assignment
-----------------------------------*/
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65;
}

body {
    font-size: 18px;
    margin: 0;
    font-family: fantasy;
    color: aquamarine;
    background-color: dimgrey;
}

input {
    width: 25%;
    margin: 10px;
    border-radius: 15%;
    border-width: 10px black;
}